/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #120d1d, #012412);
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #fff;
}

.upload-form {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    max-width: 1200px;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    gap: 2rem;
    overflow: hidden;
}

.form-left, .form-right {
    flex: 1;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-item {
    flex: 1;
}

.form-label {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #ccc;
    outline: none;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #00d9ff;
}

textarea.form-input {
    height: 100px;
}

.preview-container {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.preview-image {
    max-width: 100%;
    max-height: 300px;
    margin-top: 1rem;
    border-radius: 5px;
}

.btn-submit {
    padding: 1rem 2rem;
    background: #00d9ff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    width: auto;
    margin-top: 1rem;
}

.btn-submit:hover {
    background: #007bb5;
}

.cancel-link {
    text-align: center;
    color: #00d9ff;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 1rem;
}
